

<div class = "col-md-12">
	<h2>Homes</h2>

		<div id = "myCarousel" class = "carousel slide col-md-4"> 

 
			<ol class = "carousel-indicators">
				<li data-target = "#myCarousel" data-slide-to = "0" class = "active"></li>
				<li data-target = "#myCarousel" data-slide-to = "1"></li>
				<li data-target = "#myCarousel" data-slide-to = "2"></li>
			</ol>

			<div class = "carousel-inner">
				<div class = "item active">
					<%= image_tag "img1.jpg", class: "img-responsive" %>
					<div class = "carousel-caption">
						<h3>Outdoor Performance</h3>
					</div>
				</div>
				

				<div class = "item">
					<%= image_tag "img2.jpg", class: "img-responsive" %>
					<div class = "carousel-caption">
						<h3> Bookstore </h3>
					</div>
				</div>

				<div class = "item">
					<%= image_tag "img3.jpg", class: "img-responsive" %>
					<div class = "carousel-caption">
						<h3> Cathedral Painting</h3>
					</div>
				</div>

			</div>

			 <a class = "carousel-control left" href = "#myCarousel" data-slide = "prev">
				<span class = "icon-prev"></span>
			 </a>

			 <a class = "carousel-control right" href = "#myCarousel" data-slide = "next">
				<span class = "icon-next"></span>
			 </a>

		</div>


</div>


<br>
<br>
<hr>
<hr>


<div class = "2">
	<h2>Featured Destinations</h2>

</div>


<hr>

