<h1>Search result</h1>



<div class = "col-md-12">

<% @listings.each do |x| %> 
	<h3><%= x.location %></h3>
	Room type: <p><%= x.room_type %></p>
	<p><%= link_to "See available dates!" , new_listing_reservation_path(x.id) %></p>
		<% x.avatars.each do |image| %>
		<%= image_tag image.url(:medium) %>
		<% end %>

<% end %>


</div>