<h1>Welcome Home</h1>


<%= link_to "Discover hosting", new_listing_path %>
<%= link_to "Explore Airbnb", listings_path %>


<%= link_to "Your Profile", user_path(current_user) %>
<%= link_to "Update your profile", edit_user_path(current_user) %>

